body {
  padding-top: 55px;
}

@media (min-width: 992px) {
  body {
    padding-top: 55px;
  }
}

.product-content{
  margin-top: 550px;
}

.card {
  height: 100%;
}

.bg-dark {
  background-color: #AB2523 !important;
}

.btn-ifc {
  color: #fff;
  background-color: #2CA8B8;
  border-color: transparent;
  border: transparent 0px;
}
.btn-ifc:hover {
  color: #fff;
  background-color: #079673;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.home-banner:before {

content: "";
position: fixed;
left: 0;
right: 0;
z-index: -1;

margin-top: -50px;
width: auto;
height: 100%;
max-height: 100%;
background: url("../imagens/bg.jpg") no-repeat;
background-position: center right;

filter: blur(3px);
}

.center {
  text-align: center;
}

.merge-bottom-input {
  width: 67px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.merge-top-left-button {
  border-top-left-radius: 0;
}

.merge-top-right-button {
  border-top-right-radius: 0;
}

.admin-menu {
  background: #333;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  padding: 0 ;
  list-style: none;

}

ul li a {
  display: block;
  padding: 10px 10px;

  color: #b8c7ce;
  font-size: 12px;
}
ul li a:hover {
  text-decoration: none;
  background: #1d1c1c;
  color: #b8c7ce;
}